<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header1.inc" %}
  </head>

  <body>
    {% include "nav_bar.inc" %}
    

<div class="container">

     <div class="hero-unit">
        <div class="row">
            <div class="span2">
                <p>Blend 1</p>
                <p>A.k.a fadsfasdf</p>
                <p><a class="btn btn-primary btn-small">Läs mer</a></p>
            </div>
            <div class="span2">
                <p>Blend 2</p>
                <p>A.k.a adfdasfsdf</p>
                <p><a class="btn btn-primary btn-small">Läs mer</a></p>
            </div>
            <div class="span2">
                <p>Blend 3</p>
                <p>A.k.a adfasdf</p>
                <p><a class="btn btn-primary btn-small">Läs mer</a></p>
            </div>
        </div>
        
        <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn">Blend 1</button>
            <button class="btn">Blend 2</button>
            <button class="btn">Blend 3</button>
        </div>
     </div>

    <div class="row">
        <div class="span12">
          <h2>Heading</h2>
           <div class="btn-group" data-toggle="buttons-radio">
            <button class="btn">50g</button>
            <button class="btn">100g</button>
            <button class="btn">250g</button>
            <button class="btn">500g</button>
        </div>
        </div>
    </div>
    <p />
    <div class="row">
        <div class="span12">
          <h2>Pris</h2>
          <p>100.00 SEK</p>
          <p />
          <p><a class="btn btn-primary btn-large">Lägg i varukorg &raquo;</a></p>
        </div>
    </div>

      {% include "copyright.inc" %}

    </div> <!-- /container -->

    {% include "footer-js.inc" %}
    

  </body>
</html>

